<div id="vm-wizard" class="overlay-div wizard">
	<div class="top">
			<div class="numbers">
				<div class="row">
					{{close-wizard action="resetClose"}}
					{{collection Snf.WizardHeadersView}}
					{{!-- <ul class="nums">
					{{#each headers}}
						<li>
							<em><span>{{view.index}}</span></em>
							<p><strong>{{title}}</strong> {{subtitle}}</p>
						</li>
					{{/each}}
					</ul> --}}
				</div>
			</div>
				{{collection Snf.WizardMenusView}}
		</div>
		{{render "WizardVmStep1" "WizardVmStep1"}}
		{{render "WizardVmStep2" "WizardVmStep2"}}
		{{!-- {{collection Snf.WizardStepsView}} --}}
		<div class="bottom">
			<div class="row">
				{{view Snf.WizardBtnBackView}}
				{{view Snf.WizardBtnNextView}}
			</div>
		</div>
</div>