<a href="#" title="Show projects"><span class="snf-folder-move-full"></span></a>
{{#if isDisplayed}}
    <ul>
        <li>{{current.name}}</li>
        {{#if isEditable}}
            {{#each project in availableProjects}}
                <li><a {{action 'reassignProject' newproject=project}}>{{project.name}}</a></li>
            {{/each}}
        {{else}}
        <li><a  class="reassign" {{action 'showProjects'}}>Reassign<span class="arrow-right"></span></a></li>
        {{/if}}
    </ul>
{{/if}}
