<section class="content connected disk">
    {{#each volume in this.volumes itemController="Volume"}}
        <section {{bind-attr class=":item volume.status"}}>
            <div class="what">
                <div class="img-wrap">
                    <span class="snf-volume-full snf-font"></span>
                </div>
                <h4>{{name}}</h4>
            </div>
            <div class="clearfix">
                <ul class="connections">
                    <li>
                        <a href="#" {{action 'openModal' 'dettach-volume-modal' 'volume' model}}  class="act" >&nbsp;</a>
                        <div class="icon"></div>
                        <div class="data">
                            <ul>
                                <li>
                                    <h5 class="volume-data">Size</h5>
                                    <p>{{bytes-to-human size}}</p>
                                </li>
                                <li>
                                    <h5 class="volume-data">Storage Type</h5>
                                    <p>{{volume.storageType}}</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    {{/each}}
	<section class="connect-new disk">
		<div class="img-wrap">
			<a href="" data-reveal-id="attach-volume">
				<span class="snf-volume-full snf-font"></span>
			</a>
		</div>
		<p><a href="">Attach Volume</a></p>
	</section>
</section>