<section class="content connected network">
    {{#each vm in vms itemController='NetworkVmPorts'}}
    <section {{bind-attr class=":item vm.status"}}>
        <div class="what">
            <div class="img-wrap">
                {{#link-to 'vm' vm}}
                <span class="snf-pc-full snf-font"></span>
                <span {{bind-attr class=":os vm.os"}}>{{vm.os}}</span>
                {{/link-to}}
            </div>
            <h4>{{#link-to 'vm' vm}}{{vm.name}}{{/link-to}}</h4>
        </div>
        <div class="clearfix">
            <ul class="connections">
                {{#each port in networkPorts}} 
                    {{partial 'details/ports-connected'}}
                {{/each}}
            </ul>
        </div>
    </section>
    {{/each}}
    <section class="connect-new machine">
        <div class="img-wrap">
            <a href="" data-reveal-id="connect-to-network">
                <span class="snf-pc-full snf-font"></span>
            </a>
        </div>
        <p><a href="">Connect VM</a></p>
    </section>
</section>
