<section class="content info-simple">

	<section class="info-block">
		<h2>info</h2>
		<dl>
			<dt><span class="snf-font snf-pc-full"></span>Name</dt>
			<dd>{{name}}</dd>
			<dt><span class="snf-font snf-dashboard-outline"></span>Assigned Project</dt>
			<dd>{{tenant_id.name}}</dd>
			<dt><span class="snf-chip-outline snf-font"></span>CPUs</dt>
			<dd>4</dd>
			<dt><span class="snf-ram-full snf-font"></span>RAM</dt>
			<dd>512 MB</dd>
			<dt><span class="snf-volume-full snf-font"></span>System Disk Size</dt>
			<dd>4GB</dd>
			<dt><span class="snf-volume-full snf-font"></span>Storage Type</dt>
			<dd>Archipelago</dd>
			<dt><span class="snf-image-full snf-font"></span>Image Name</dt>
			<dd>Fedora</dd>
			<dt><span class="snf-image-full snf-font"></span>Image Size</dt>
			<dd>3.68 GB</dd>
			{{#each port in ports}}
				{{#if port.ipv4}}
			<dt><span class="snf-nic-full snf-font"></span>IPv4</dt>
			<dd>{{port.ipv4}}</dd>
				{{/if}}
				{{#if port.ipv6}}
			<dt><span class="snf-nic-full snf-font"></span>IPv6</dt>
			<dd>{{port.ipv6}}</dd>
				{{/if}}
			{{/each}}
		</dl>
	</section>

	<section class="info-block">
		<h2>tags</h2>
		{{view Snf.tagsListView}}
        {{render "add-tag" model }}
	</section>



	<section class="info-block charts">
		<div>
			<h2>CPU utilization</h2>
			<div class="graph_container">
				<img src="../images/cpu-ts.png" alt="CPU utilization graph">
			</div>
		</div>
		<div>
			<h2>Network utilization</h2>
			<div class="graph_container">
				<img src="../images/net-ts.png" alt="network utilization graph">
			</div>
		</div>
	</section>
</section>