<section class="content connected network">
    {{#each network in networks itemController='VmNetworkPorts'}}
    <section {{bind-attr class=":item port.network.status"}}>
        <div class="what">
            <div class="img-wrap">
                <span class="snf-network-full snf-font"></span>
            </div>
            <h4>{{network.name}}</h4>
        </div>
        <div class="clearfix">
            <ul class="connections">
                {{#each port in ports}}
                <li>
                    {{#if port.dettachable}}
                    <a href="#" class="act" {{action 'openModal' 'destroy-port-modal' 'vm' port}}>&nbsp;</a>
                    {{/if}}
                    <div class="icon"><span class="snf-nic-full"></span></div>
                    <div class="data">
                        <ul>
                            <li>
                            {{#if port.ipv4}}
                                <h5 class="ip-data">IPv4</h5>
                                <p class="inner">{{port.ipv4}}</p>
                            {{/if}}
                            {{#if port.ipv6}}
                                <h5 class="ip-data">IPv4</h5>
                                <p class="inner">{{port.ipv6}}</p>
                            {{/if}}
                            {{view Snf.FirewallView}}
                            </li>
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    {{/each}}
    <section class="connect-new network">
		<div class="img-wrap">
			<a href="" data-reveal-id="connect-to-network">
				<span class="snf-network-full snf-font"></span>
			</a>
		</div>
		<p><a href="" data-reveal-id="connect-to-network">Connect to Network</a></p>
	</section>
</section>