<div {{bind-attr data-status=this.statusLowerCase class="this.statusLowerCase"}}>
    <ul class="side-actions">
        <li>{{#link-to type this}}i{{/link-to}}</li>

        {{#if actionsMany}}
            {{#each item in mainActions}}
            <li>
                <a {{action 'openModal' item.act type model}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
            </li>
            {{/each}}
            <li class="more-actions">
                <a href="javascript:void(0)" title="">...</a>
                <ul>
                    {{#each item in secondaryActions}}
                    <li>
                        <a {{action 'openModal' item.act type model}} {{bind-attr class="item.title"}}>{{item.title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
        {{else}}
            {{#each item in actionsMeta}}
            <li>
                <a {{action 'openModal' item.act type model}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
            </li>
            {{/each}}
        {{/if}}


        {{#if project}}
            {{sideactions-project reassignProject="reassignProject" current=this.project projects=projects}}
        {{/if}}
    </ul>

    <div class="container">

        {{checkbox-custom param=this select="selectItem" unselect="unselectItem"}}

        <div class="img-wrap">
            {{#link-to type this}}
            <span {{bind-attr class=":snf-font iconCls"}}></span>
            {{#if metadata.os}}<span {{bind-attr class=":os metadata.os"}}>{{metadata.os}}</span>{{/if}}
            {{/link-to}}
        </div>

        <h4>{{name}}</h4>
        
        <div class= "status">
            <span class="state">{{status-to-text status}}</span>
        </div>
        <div class="actions">
            {{#each item in actionsMeta}}
                <a {{action 'openModal' item.act type model}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
            {{/each}}
        </div>
        {{#if hasTags}}
            {{view Snf.tagsListView}}
        {{/if}}

    </div>
</div>