{{outlet}}
{{partial 'actions-bar'}}
{{actionsAll}}
<section class="main row">
    <div {{bind-attr class=":entities viewCls"}}>
        {{view Snf.ItemsListView}}
        {{view Snf.ItemsListLtBarView}}
    </div>
</section>