{{#link-to type this tagName='li'}}
<div {{bind-attr data-status=this.status class="this.status"}}>
    <ul class="side-actions">
        <li>{{#link-to type this}}i{{/link-to}}</li>
        {{#if hasConnect}}
        <li>
            <a {{action 'openModal' 'connect-vm-modal' 'vm' model}} title="connect"><span class="snf-thunder-full"></span></a>
        </li>
        {{/if}}

        {{#each item in actionsMeta}}
        <li>
            <a {{action 'openModal' item.act item.controller model}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
        </li>
        {{/each}}
    </ul>

    <div class="container">
        
        {{checkbox-custom}}
        
        <div class="img-wrap">
            {{#link-to type this}}
            <span {{bind-attr class=":snf-font iconCls"}}></span>
            {{#if os}}<span {{bind-attr class=":os os"}}>{{os}}</span>{{/if}}
            {{/link-to}}
        </div>

        <h4>{{name}}</h4>
        
        <div class= "status">
            <span class="state">{{status-to-text status}}</span>
        </div>
        
        {{#if hasTags}}
            {{view Snf.tagsListView}}
        {{/if}}

    </div>
</div>
{{/link-to}}