{{#link-to type this tagName='li'}}
<div {{bind-attr data-status=this.status class="this.status"}}>
    <ul class="side-actions">
        <li>{{#link-to type this}}i{{/link-to}}</li>

        {{#if actionsMany}}
            {{#each item in fewActionsMeta}}
            <li>
                <a {{action 'openModal' item.act item.controller model bubbles=false}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
            </li>
            {{/each}}
            <li class="more-actions">
                <a href="javascript:void(0)" title=""{{action bubbles=false}}>...</a>
                <ul>
                    {{#each item in moreActionsMeta}}
                    <li>
                        <a {{action 'openModal' item.act item.controller model bubbles=false}} {{bind-attr class="item.title"}}>{{item.title}}</span></a>
                    </li>
                    {{/each}}
                </ul>
            </li>
        {{else}}
            {{#each item in actionsMeta}}
            <li>
                <a {{action 'openModal' item.act item.controller model bubbles=false}} {{bind-attr class="item.title"}}><span {{bind-attr class="item.spanCls"}}></span></a>
            </li>
            {{/each}}
        {{/if}}

    </ul>

    <div class="container">
        
        {{checkbox-custom}}
        
        <div class="img-wrap">
            {{#link-to type this}}
            <span {{bind-attr class=":snf-font iconCls"}}></span>
            {{#if os}}<span {{bind-attr class=":os os"}}>{{os}}</span>{{/if}}
            {{/link-to}}
        </div>

        <h4>{{name}}{{actionsCount}}</h4>
        
        <div class= "status">
            <span class="state">{{status-to-text status}}</span>
        </div>
        
        {{#if hasTags}}
            {{view Snf.tagsListView}}
        {{/if}}

    </div>
</div>
{{/link-to}}